
counts/
logs/
reference/*

reference/*.ht2
reference/*.fasta
reference/*.fa
reference/*.fai
reference/*.gff
reference/*.gtf
reference/*.bed
reference/*.dict
reference/*.zip
reference/*.gz

__pycache__/
*.pyc
.ipynb_checkpoints/

.DS_Store
Thumbs.db
.vscode/
.idea/

*.tmp
*.temp
*.swp
*~
